{% extends 'base.html' %}

{% block content %}

<!-- Main Theme -->
<div class="sub-main-theme-wrapper about">
  <h1>{{ _('关于BGben') }}</h1>
  <div class="about-heading">
    <img src="{{ url_for('static', filename='profile_pics/admin.png') }}" alt="">
    <h2>{{ _('兔洞探索手记') }}</h2>
  </div>
</div>
<!-- / Main Theme -->
<!-- Notebook Paper -->
<main>
  <div class="about-wrapper">
    <!-- Notebook Grid -->
    <div class="notebook-grid">
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <!-- 10rows -->
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <!-- 20rows -->
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <!-- 30rows -->
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <!-- 40rows -->
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <!-- 50rows -->

      <div class="row last-row">
      </div>
      <!-- rows -->
    </div>
    <!-- / Notebook Grid -->
    <!-- About Contents -->
    <div class="about-contents">
      <p>
        {{ _('BGben欢迎您的飘来。') }}<br>
        {{ _('这是一个网络海洋的随笔驿站。') }}<br>
        <br>
        {{ _('主旨在于与有缘的灵魂一起探讨天地万物的真实面貌') }}
        <br>
        {{ _('以及我们每一个存在的过去、现在、未来…即，永恒。') }}<br>
        <br>
        {{ _('目前的世界 — 集体意识，仍处于昏昏欲睡的状态中。') }}
        {{ _('直到每一双眼睛睁开之前，我们都无法将
        过去亿万年一直都捆在盖亚母亲身上的这把枷锁给她卸下。') }}<br>
        <br>
        {{ _('真相是，我们拥有无限的能力与能量，即永恒的生命。') }}
        {{ _('如果您愿意睁开您的智慧眼，这个答案也一定将成为您的答案。') }}<br>
        <br>
      </p>
      <div class="about-data">
        <div class="about-data-title">
          <u>{{ _('档案') }}</u>
        </div>
        <table>
          <tr>
            <td class="about-data-left">{{ _('主旨：') }}</td>
            <td class="about-data-right">{{ _('把第三眼打开，多看看！') }}</td>
          </tr>
          <tr>
            <td class="about-data-left">{{ _('BGben笔记内容：') }}</td>
            <td class="about-data-right">{{ _('深度思考的材料')}}</td>
          </tr>
          <tr>
            <td class="about-data-left">{{ _('主要领域：') }}</td>
            <td class="about-data-right">
              {{ _('人类起源、意识&高我的探索、多维度现实、形而上学、') }}
              {{ _('获取能量与健康、宇宙大家庭、基因密码、灵修、') }}
              {{ _('自然智能、古代智慧、古迹探索、华夏古典、平行宇宙、') }}
              {{ _('神秘学揭秘、自由能源、地下世界、科技展望......') }}
            </td>
          </tr>
          <tr>
            <td class="about-data-left">{{ _('运营者揭秘兔简介：') }}</td>
            <td class="about-data-right">
              {{ _('自2020年刚刚开幕之际，揭秘兔掉入了一个看不见尽头的无底洞。起初的探索过程充满了恐惧，但是随 着与未知真相的邂逅，恐怖已被希望替代。同时，动物 的本能也让这只懒惰的兔子无法再继续沉睡。') }}
              {{ _('揭秘兔东凑西凑找到了许多学校、电视不会告诉您的秘密，偷偷将它们写入了这本BGben中。') }}
            </td>
          </tr>
          <tr>
            <td class="about-data-left">{{ _('参与BGben：') }}</td>
            <td class="about-data-right">
              {{ _('BGben欢迎同样在兔洞中忙碌的兔子们来一起记录大家所知道的秘密。参加条件：') }}
              <br>
              (1) {{ _('答对您最感兴趣的话题领域的提问。一旦成为BGben笔记者，基本功能可作为您的个人博客一律免费使用。')}}
              <br>
              (2) {{ _('同意本网站的适用规则以及隐私政策。敬请注册之前仔细阅读内容，如果您对任何条框不同意，请不要使用本网站。') }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- / About Contents -->
  </div>
</main>
<!-- / Notebook Paper -->
{% endblock %}