{% extends "base.html" %}

{% block content %}


<main>
  <!-- Modal -->
  <div id="modal-max-tag" class="modal-max-tags">
    <h2>{{ _('标签最多可以设置6个！') }}</h2>
    <button class="cancel-btn" id="modal-select-close">{{ _('关闭') }}</button>
  </div>

  <!-- Profile Detail -->
  <div class="account-status" style="margin: 150px auto 50px auto">
    <div class="user-profile-wrapper account-page">
      <div class="profile-img">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file)}}" alt="{{ _('目前用户头像') }}">
      </div>
      <div class="profile-data">
        <div class="profile-name">
          <h1>{{ current_user.username }}</h1>
          <img src="{{ url_for('static', filename='zodiac_signs/' + current_user.zodiac_sign + '.png')}}"
            alt="{{ _('目前用户星座图标') }}">
        </div>
        <div class="profile-follow-status text-color-orange">
          <span>{{ current_user.followers_count() }}</span><a
            href="{{url_for('main.followers', username=current_user.username)}}">{{ _('粉丝') }}</a>
          <span>{{ current_user.following_count() }}</span><a
            href="{{url_for('main.following_list', username=current_user.username)}}">{{ _('关注') }}</a>
        </div>
        <br>
        <div class="profile-start-date text-color-darkgrey">
          {{ moment(current_user.account_created).fromNow() }} {{ _('加入') }}
        </div>
        <div class="latest-seen text-color-darkgrey">
          {% if current_user.last_seen %}
          {{ _('最新上线：') }} {{ moment(current_user.last_seen).fromNow() }}
          {% endif %}
        </div>
      </div>
      <div class="profile-intro">
        <p class="text-color-darkgrey">
          {% if current_user.about_me %}
          {{ current_user.about_me }}
          {% else %}
          {{ current_user.username }}{{ _('非常神秘，还没有透露TA的故事呢！') }}
          {% endif %}
        </p>
        <a href="{{ url_for('users.account') }}" class="profile-edit">{{ _('编辑简介') }}</a>
      </div>
    </div>
  </div>
  <!-- / Profile Detail -->

  <!-- Flash Message -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert">
    <span class=" alert-{{ category }}">{{ message }}</span>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!-- Flash Message -->

  <!-- Notebook Grid -->
  <div class="user-contents-wrapper">
    <div class="notebook-grid my-feed create-post">
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 20rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 30rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 40rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 50rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 60rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 70rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 80rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 90rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 100rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 110rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 120rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 130rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 140rows -->
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <div class="row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
      <!-- 150rows -->
      <div class="row last-row">
        <div class="row-left"></div>
        <div class="row-middle">
          <div class="row-middle-left"></div>
          <div class="row-middle-right"></div>
        </div>
        <div class="row-right"></div>
      </div>
    </div>
    <div class="user-page-contents create-form">
      <aside class="post-left create-post">
        <!-- Latest Posts -->
        <div class="aside-section">
          <img src="{{ url_for('static', filename='images/crayon_logo2.png')}}" alt="{{ _('橙色蜡笔图标') }}">
          <p class="text-color-orange side-title create-form">{{ _('我的最新投稿') }}</p>
        </div>
        <ul class="aside-list">
          {% for post in ten_posts %}
          <li class="aside-list-item create-form">
            <a href="{{ url_for('posts.post', post_id=post.id) }}" class="text-color-orange aside-title-orange">
              <span>{{ post.title}}</span>
              <img class="sidebar-post-img" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}"
                alt="{{ _('笔记主图像') }}">
            </a>
          </li>
          {% endfor %}
        </ul>

        <!-- Past Posts -->
        <div class="aside-section">
          <img src="{{ url_for('static', filename='images/crayon_logo1.png')}}" alt="{{ _('红色蜡笔图标') }}">
          <p class="text-color-red side-title create-form">{{ _('我的过去投稿') }}</p>
        </div>
        <ul class="aside-list">
          {% for count in monthly_posts_count %}
          <li class="aside-list-item create-form">
            <a href="{{ url_for('posts.monthly_posts', user_id=current_user.id, year = count[0] , month = count[1]) }}">
              {{ count[0] }}{{ _('年') }}{{ count[1] }}{{ _('月') }} {{ count[2] }}{{ _('篇')
              }}
            </a>
          </li>
          {% endfor %}
        </ul>

        <!-- Hottest Topics -->
        <div class="aside-section">
          <img src="{{ url_for('static', filename='images/crayon_logo3.png')}}" alt="{{ _('淡绿色蜡笔图标') }}">
          <p class="text-color-green side-title create-form">{{ _('我的最新论点') }}</p>
        </div>
        <ul class="aside-list">
          {% for tag in user_tags %}
          <li class="aside-list-item create-form">
            <a href="{{ url_for('posts.tag', name=tag) }}" class="text-color-green">
              <img class="tag-img" src="{{url_for('static', filename='images/tag3.png')}}" alt="{{ _('淡绿色标签图标') }}">
              {{ tag }}</a>
          </li>
          {% endfor %}
          </li>
        </ul>

      </aside>
      <div class="post-right user-post-right create-post">
        <!-- New Post Form -->
        <form class="post-edit" action="" method="post" enctype="multipart/form-data" novalidate>
          {{ form.hidden_tag() }}
          <legend class="text-color-orange" style="width:100%; text-align: center; font-size: 1.5rem;">
            {{ legend }}
          </legend>
          <!-- Post Title -->
          <div class="form-item">
            <div class="post-comment-title">
              <div class="post-comment-title-imgbox">
                <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen3.png')}}"
                  alt="{{ _('橙色羽毛图标') }}">
              </div>
              <span class="text-color-red">{{ form.title.label }}</span>
            </div>
            <div class="form-input form-input-post single-line">
              {% if form.title.errors %}
              {{form.title(class="text-input post-input post-text-input is-invalid")}}
              {% for error in form.title.errors %}
              <small><span class="error-message">{{ error }}</span></small>
              {% endfor %}
              {% else %}
              {{form.title(class="text-input post-input post-text-input")}}
              {% endif %}
            </div>
          </div>
          <!-- Post SubTitle -->
          <div class="form-item">
            <div class="post-comment-title">
              <div class="post-comment-title-imgbox">
                <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen1.png')}}"
                  alt="{{ _('淡绿色羽毛图标') }}">
              </div>
              <span class="text-color-red">{{ form.subtitle.label }}</span>
            </div>
            <div class="form-input form-input-post single-line">
              {% if form.subtitle.errors %}
              {{form.subtitle(class="text-input post-input post-text-input is-invalid")}}
              {% for error in form.subtitle.errors %}
              <small><span class="error-message">{{ error }}</span></small>
              {% endfor %}
              {% else %}
              {{form.subtitle(class="text-input post-input post-text-input")}}
              {% endif %}
            </div>
          </div>
          <!-- Post Main Image -->
          <div class="form-item">
            <div class="post-comment-title">
              <div class="post-comment-title-imgbox">
                <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen3.png')}}"
                  alt="{{ _('橙色羽毛图标') }}">
              </div>
              <span class="text-color-red">{{ form.main_picture.label }}<small> ({{ _('≤5MB, 格式：') }} jpg, jpeg,
                  png)</small></span>
            </div>
            <div class="form-input form-input-post single-line">
              {% if form.main_picture.errors %}
              {{form.main_picture(class="text-input post-input post-text-input")}}
              {% for error in form.main_picture.errors %}
              <small><span class="error-message">{{ error }}</span></small>
              {% endfor %}
              {% else %}
              {{form.main_picture(class="text-input post-input post-text-input")}}
              {% endif %}
            </div>

          </div>
          <!-- Post Body -->
          <div class="form-item">
            <div class="post-comment-title">
              <div class="post-comment-title-imgbox">
                <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen4.png') }}"
                  alt="{{ _('红色羽毛图标') }}">
              </div>
              <span class="text-color-red">{{ form.body.label}}<small> ({{ _('图像文件≤5MB, 格式：') }} jpg, jpeg,
                  png, gif)</small></span>
            </div>
            {% if form.body.errors %}
            {{ form.body }}
            {% for error in form.body.errors %}
            <small><span id="body-error" class="error-message">{{ error }}</span></small>
            {% endfor %}
            {% else %}
            {{ form.body }}
            {% endif %}
          </div>

          <!-- Tags -->
          <div class="form-item">

            <div class="post-comment-title">
              <div class="post-comment-title-imgbox">
                <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen1.png')}}"
                  alt="{{ _('淡绿色羽毛图标') }}">
              </div>
              <span class="text-color-red">{{ _('标签(最多6个)') }}</span>
              <button id="add-tag" type="button">{{ _('添加') }}</button>
            </div>
            <div id="mode" hidden>{{ mode }}</div>
            {% if tags_count %}
            <div id="tags_count" hidden>{{ tags_count }}</div>
            {% else %}
            <div id="tags_count" hidden>0</div>
            {% endif %}

            <ul id="existing_tags" hidden>
              {% if tags %}
              {% for tag in tags %}
              <li id="">{{ tag.name }}</li>
              {% endfor %}
              {% endif %}
            </ul>

            {{form.tags()}}

          </div>
          <!-- Submit Post -->
          <div class="form-item button-div">
            {{ form.submit_field(value=submit_value, class="submit-btn text-color-yellow") }}
          </div>
        </form>
        {{ ckeditor.load(pkg_type="full") }}

        {{ ckeditor.config(name='body', height=300) }}

        <script>
          window.onload = function () {
            let allTagsFieldWrapper = document.querySelector("#tags");
            let addTagFieldBtn = document.querySelector("#add-tag");
            let mode = document.querySelector("#mode").innerText;
            let tags_count = parseInt(document.querySelector("#tags_count").innerText);
            let modal_max_tag = document.querySelector(".modal-max-tags")

            if (mode == 'create') {
              addTagFieldBtn.addEventListener('click', function (e) {
                e.preventDefault();
                let allTagsField = allTagsFieldWrapper.querySelectorAll("input");
                if (allTagsField.length > 5) {
                  // alert('You can have only five movies name');
                  modal_max_tag.style.visibility = "visible"
                  return;
                }
                let tagInputIds = []
                for (let i = 0; i < allTagsField.length; i++) {
                  tagInputIds.push(parseInt(allTagsField[i].name.split('-')[1]));
                }
                let newTagName = `tags-${Math.max(...tagInputIds) + 1}`
                allTagsFieldWrapper.insertAdjacentHTML('beforeend', `
              <li><label for="${newTagName}">#</label> <input id="${newTagName}" name="${newTagName}" type="text" value=""></li>
              `)
              })
            }
            else if (mode == 'update') {
              if (tags_count > 1) {
                let firstTagValue = $(`#existing_tags li:nth-child(1)`).text()
                let firstTagName = `tags-0`
                allTagsFieldWrapper.innerHTML = "";
                allTagsFieldWrapper.insertAdjacentHTML('beforeend', `
                  <li><label for="${firstTagName}">#</label> <input id="${firstTagName}" name="${firstTagName}" type="text" value=${firstTagValue}></li>
                  `)

                for (let i = 1; i < tags_count; i++) {
                  let tag_value = $(`#existing_tags li:nth-child(${i + 1})`).text()
                  let newTagName = `tags-${i}`
                  allTagsFieldWrapper.insertAdjacentHTML('beforeend', `
                  <li><label for="${newTagName}">#</label> <input id="${newTagName}" name="${newTagName}" type="text" value=${tag_value}></li>
                  `)
                }
              }

              addTagFieldBtn.addEventListener('click', function (e) {
                e.preventDefault();
                let allTagsField = allTagsFieldWrapper.querySelectorAll("input");
                if (allTagsField.length > 5) {
                  modal_max_tag.style.visibility = "visible"
                  return;
                }
                let tagInputIds = []
                for (let i = 0; i < allTagsField.length; i++) {
                  tagInputIds.push(parseInt(allTagsField[i].name.split('-')[1]));
                }
                let newTagName = `tags-${Math.max(...tagInputIds) + 1}`
                allTagsFieldWrapper.insertAdjacentHTML('beforeend', `
              <li><label for="${newTagName}">#</label> <input id="${newTagName}" name="${newTagName}" type="text" value=""></li>
              `)
              })
            }
          }
          // close max-tag-warning-modal
          $("#modal-select-close").click(function () {
            $(".modal-max-tags").css('visibility', 'hidden')
          })

          // limite upload image size for main picture
          function limit_size(field) {
            field.onchange = function () {
              if (field.files[0].size > 5242880) {
                alert("≤ 5MB!!");
                this.value = "";
                return
              }
            }
          }
          const uploadFieldMainPictures = document.getElementById("main_picture");
          limit_size(uploadFieldMainPictures)
        </script>


        <!-- Post Headings -->
        <div class="post-headings-wrapper">

          {% for post in posts %}
          <div class="post-card">
            <div class="post-heading">

              <!-- Post Heading -->
              <a href="{{ url_for('posts.post', post_id=post.id) }}">
                <h2>
                  {{ post.title }}
                </h2>
                <h3>{{ post.subtitle }}</h3>
                <!-- Image -->
                <img class="post-img-draft" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}"
                  alt="{{ _('笔记主图像') }}">
                <div><small style="font-weight: 100;">{{ moment(post.date_posted).format('LLL')
                    }}</small></div>
              </a>

              <div class="divider">
                <img src="{{ url_for('static', filename='images/divider_green.png')}}" alt="{{ _('淡绿色分割曲线') }}">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="pagination">
          {% if prev_url %}
          <div class="prev-page">
            <div class="pagination-text"><a href="{{ prev_url }}">{{ _('前一页') }}</a></div>
            <div class="pagination-imgbox">
              <img src="{{ url_for('static', filename='images/arrow-left.png')}}" alt="{{ _('橙色向左箭头图标') }}">
            </div>
          </div>
          {% endif %}

          {% if next_url %}
          <div class="next-page">
            <div class="pagination-imgbox">
              <img src="{{ url_for('static', filename='images/arrow-right.png')}}" alt="{{ _('橙色向右箭头图标') }}">
            </div>
            <div class="pagination-text"><a href="{{ next_url }}">{{ _('下一页') }}</a></div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- / Notebook Grid -->


</main>
{% endblock content %}