{% extends "base.html" %}

{% block content %}
<!-- Main Theme -->
<div class="main-theme-wrapper">
  <h1>BGben</h1>
  <h2>{{ _("%(username)s的私信邮箱", username=user.username) }}</h2>
  <div id="tab" style="display: none;">{{tab}}</div>
  <div id="current_user_id" style="display:none;">{{ current_user.id }}</div>
</div>
<!-- / Main Theme -->

<!-- Flash Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert">
  <span class=" alert-{{ category }}">{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Flash Message -->

<!-- Notebook Paper -->
<main class="messages">
  <div class="tabs messages-tabs">
    <button id="tab_in" class="tab-post messages-tab-post tablink" onclick="openTab(event, 'in')">{{_('收件箱')}}</button>
    <button id="tab_out" class="tab-user messages-tab-user tablink"
      onclick="openTab(event, 'out')">{{_('发件箱')}}</button>
  </div>

  <!-- text-color-red front-tab -->

  <!-- Inbox -->
  <div id="in" class="message-list label">
    <div id="scroller-in_msg">
      <template id="in_msg_template" class="in_msg_template">

        <!-- Message-->
        <div class="balloon">
          <div class="balloon-main">
            <a class="in_msg_author_link message-profile-img" href="">
              <img class="in_msg_author_pic" src="" alt="{{ _('信息发送方头像') }}">
            </a>
            <div class="says in_msg_text"></div>
          </div>
          <div class="message-time">
            <a class="message-time-name" href=""></a>
            <div class="message-time-time-wrapper">
              <img src="{{ url_for('static', filename='images/clock.png') }}" alt="{{ ('钟表(时间)图像') }}">
              <span><small class="in_msg_time message-time-time"></small></span>
              <!-- Reply Link -->
              <a class="in_msg_reply_link" href="">
                <img class="message-reply" src="{{ url_for('static', filename='images/reply.png') }}"
                  alt="{{ _('回复信息链接图像') }}" title="{{ _('发送信息') }}">
              </a>
              <!-- Delete Message -->
              <a class="modal-open-message" href="">
                <img class="delete_in_msg_btn" src="{{ url_for('static', filename='images/paper_crumpled_orange.png')}}"
                  alt="{{ _('橙色皱巴巴的纸图像') }}" title="{{ _('删除') }}" onclick="deleteInMsg(event, this)">
              </a>
            </div>

            <!-- 笔记删除确认Modal -->
            <div class="modal-confirm modal-delete-in-message-confirm">
              <img class="modal-img" src="{{ url_for('static', filename='images/alert1.png') }}" alt="{{ _('警报器图像') }}">
              <h2>{{ _('您确定要删除这条信息吗？') }}</h2>
              <div class="button-area">
                <button class="cancel-btn">{{ _('取 消') }}</button>
                <button class="confirm-btn" value="确 定">{{
                  _('确 定')
                  }}</button>
              </div>
              <div class="delete-in-msg-failure-warning"></div>
            </div>

          </div>
        </div>
        <!-- / Message -->

      </template>
    </div>
    <div id="sentinel_in_msg">
      <div role="status_in_msg"></div>
      <div id="in_msg_last" hidden><img src="{{ url_for('static', filename='images/empty_tray.png') }}"
          alt="{{ _('空的接受信息托盘') }}"></div>
    </div>
  </div>
  <!-- /Inbox -->

  <!-- Outbox -->
  <div id="out" class="message-list label" style="display: none;">
    <div id="scroller-out_msg">
      <template id="out_msg_template" class="out_msg_template">

        <!-- Message-->
        <div class="balloon">
          <div class="balloon-main">
            <a class="out_msg_recipient_link message-profile-img" href="">
              <img class="out_msg_recipient_pic" src="" alt="{{ _('信息接收用户头像') }}">
            </a>
            <div class="says2 out_msg_text"></div>
          </div>
          <div class="message-time">
            <a class="message-time-name" href=""></a>
            <div class="message-time-time-wrapper">
              <img src="{{ url_for('static', filename='images/clock.png') }}" alt="{{ ('钟表(时间)图像') }}">
              <span><small class="out_msg_time message-time-time"></small></span>
              <!-- Delete Message -->
              <a class="modal-open-message" href="">
                <img class="delete_out_msg_btn"
                  src="{{ url_for('static', filename='images/paper_crumpled_orange.png')}}" alt="{{ _('橙色皱巴巴的纸图像') }}"
                  title="{{ _('删除') }}" onclick="deleteOutMsg(event, this)">
              </a>
            </div>

            <!-- 笔记删除确认Modal -->
            <div class="modal-confirm modal-delete-out-message-confirm">
              <img class="modal-img" src="{{ url_for('static', filename='images/alert1.png') }}" alt="{{ _('警报器图像') }}">
              <h2>{{ _('您确定要删除这条信息吗？') }}</h2>
              <div class="button-area">
                <button class="cancel-btn">{{ _('取 消') }}</button>
                <button class="confirm-btn">{{ _('确 定') }}</button>
              </div>
              <div class="delete-in-msg-failure-warning"></div>
            </div>
          </div>
        </div>
        <!-- / Message -->

      </template>
    </div>
    <div id="sentinel_out_msg">
      <div role="status_out_msg"></div>
      <div id="out_msg_last" hidden><img src="{{ url_for('static', filename='images/empty_out_tray.png') }}"
          alt="{{ _('空的发送信息托盘') }}">
      </div>
    </div>

  </div>
  <!-- / Outbox -->

</main>

<script>
  $(document).ready(function () {
    // Detect which mail box and open that tab
    let mailbox_type = $('#tab').text()

    let tab_name = "tab_" + mailbox_type

    document.getElementById(tab_name).click();

  })

  let csrf_token = "{{ csrf_token() }}";

  // In Msgs
  let scrollerInMsg = document.querySelector('#scroller-in_msg')
  let in_msg_template = document.querySelector('#in_msg_template')
  let sentinel_in_msg = document.querySelector('#sentinel_in_msg')
  let in_msg_last = document.querySelector('#in_msg_last').innerHTML
  let counter_in_msg = 0

  // Out Msgs
  let scrollerOutMsg = document.querySelector('#scroller-out_msg')
  let out_msg_template = document.querySelector('#out_msg_template')
  let sentinel_out_msg = document.querySelector('#sentinel_out_msg')
  let out_msg_last = document.querySelector('#out_msg_last').innerHTML
  let counter_out_msg = 0

  const SCRIPT_ROOT = {{ request.script_root | tojson }}

  function formatDate(date) {
    let d = new Date(date),
      month = (d.getMonth() + 1).toString().padStart(2, "0"),
      day = d.getDate().toString().padStart(2, "0"),
      year = d.getFullYear().toString(),
      hour = d.getHours().toString().padStart(2, "0"),
      minutes = d.getMinutes().toString().padStart(2, "0"),
      seconds = d.getSeconds().toString().padStart(2, "0");

    date = [year, month, day].join('-'),
      time = [hour, minutes, seconds].join(':');

    return [date, time].join(' ');
  }

  function loadInMsgs() {
    current_user_id = document.querySelector('#current_user_id')
    fetch(`${window.origin}/load_in_msgs?i=${counter_in_msg}`).then((response) => {
      response.json().then((data) => {
        if (!data.length) {
          sentinel_in_msg.innerHTML = in_msg_last;
        }

        for (let i = 0; i < data.length; i++) {
          let template_clone = in_msg_template.content.cloneNode(true);

          let msg_id = data[i][0],
            msg_author_username = data[i][1],
            msg_author_image_file = data[i][2],
            msg_body = data[i][3],
            msg_timestamp = data[i][4]

          // balloon div
          balloon_div = template_clone.querySelector(".balloon")
          balloon_div.setAttribute("data-id", msg_id)
          // author link
          in_msg_author_link_div = template_clone.querySelector(".in_msg_author_link")
          in_msg_author_link_div.href = "{{ url_for ('users.user_page', username='') }}" + msg_author_username
          // author pic
          in_msg_author_pic_div = template_clone.querySelector(".in_msg_author_pic")
          in_msg_author_pic_div.src = "{{ url_for('static', filename='profile_pics/') }}" + msg_author_image_file
          // msg_body
          in_msg_text_div = template_clone.querySelector(".in_msg_text")
          in_msg_text_div.innerText = msg_body
          // author name
          message_time_name_div = template_clone.querySelector(".message-time-name")
          message_time_name_div.href = "{{ url_for ('users.user_page', username='') }}" + msg_author_username
          message_time_name_div.innerText = "From: " + msg_author_username
          // msg time
          let posted_time = msg_timestamp
          let local_posted_time = new Date(posted_time);
          template_clone.querySelector(".in_msg_time").innerText = formatDate(local_posted_time)
          // reply link
          in_msg_reply_link_div = template_clone.querySelector(".in_msg_reply_link")
          in_msg_reply_link_div.href = "{{ url_for('main.send_message', recipient='') }}" + msg_author_username
          // delete button attribute
          delete_in_msg_btn_div = template_clone.querySelector(".delete_in_msg_btn")
          delete_in_msg_btn_div.setAttribute("data-id", msg_id)
          // delete modal attributes
          template_clone.querySelector(".modal-delete-in-message-confirm").setAttribute("data-id", msg_id)
          template_clone.querySelector(".cancel-btn").setAttribute("data-id", msg_id)
          template_clone.querySelector(".confirm-btn").setAttribute("data-id", msg_id)
          template_clone.querySelector(".delete-in-msg-failure-warning").setAttribute("data-id", msg_id)

          scrollerInMsg.appendChild(template_clone)
          counter_in_msg += 1;

        }
      })
    })
  }

  function loadOutMsgs() {
    current_user_id = document.querySelector('#current_user_id')
    fetch(`${window.origin}/load_out_msgs?o=${counter_out_msg}`).then((response) => {
      response.json().then((data) => {
        if (!data.length) {
          sentinel_out_msg.innerHTML = out_msg_last;
        }

        for (let i = 0; i < data.length; i++) {
          let template_clone = out_msg_template.content.cloneNode(true);

          let msg_id = data[i][0],
            msg_recipient_username = data[i][1],
            msg_recipient_image_file = data[i][2],
            msg_body = data[i][3],
            msg_timestamp = data[i][4]

          // balloon div
          balloon_div = template_clone.querySelector(".balloon")
          balloon_div.setAttribute("data-id", msg_id)
          // recipient link
          out_msg_recipient_link_div = template_clone.querySelector(".out_msg_recipient_link")
          out_msg_recipient_link_div.href = "{{ url_for ('users.user_page', username='') }}" + msg_recipient_username
          // recipient pic
          out_msg_recipient_pic_div = template_clone.querySelector(".out_msg_recipient_pic")
          out_msg_recipient_pic_div.src = "{{ url_for('static', filename='profile_pics/') }}" + msg_recipient_image_file
          // msg_body
          out_msg_text_div = template_clone.querySelector(".out_msg_text")
          out_msg_text_div.innerText = msg_body
          // recipient name
          message_time_name_div = template_clone.querySelector(".message-time-name")
          message_time_name_div.href = "{{ url_for ('users.user_page', username='') }}" + msg_recipient_username
          message_time_name_div.innerText = "To: " + msg_recipient_username
          // msg time
          let posted_time = msg_timestamp
          let local_posted_time = new Date(posted_time);
          template_clone.querySelector(".out_msg_time").innerText = formatDate(local_posted_time)
          // delete button attribute
          delete_out_msg_btn_div = template_clone.querySelector(".delete_out_msg_btn")
          delete_out_msg_btn_div.setAttribute("data-id", msg_id)
          // delete modal attributes
          template_clone.querySelector(".modal-delete-out-message-confirm").setAttribute("data-id", msg_id)
          template_clone.querySelector(".cancel-btn").setAttribute("data-id", msg_id)
          template_clone.querySelector(".confirm-btn").setAttribute("data-id", msg_id)
          template_clone.querySelector(".delete-in-msg-failure-warning").setAttribute("data-id", msg_id)

          scrollerOutMsg.appendChild(template_clone)
          counter_out_msg += 1;

        }
      })
    })
  }

  // 监控上传情况
  let intersectionObserver = new IntersectionObserver(entries => {
    // if the intersectionRatio is 0, the sentinel is out of view 
    // and we do not need to do anything
    if (entries[0].intersectionRatio <= 0) {
      return
    }
    loadInMsgs()
    loadOutMsgs()
  })

  let targets = [sentinel_in_msg, sentinel_out_msg];
  targets.forEach((i) => {
    intersectionObserver.observe(i)
  });


  function deleteInMsg(e, msg_id) {
    msg_id = msg_id.getAttribute("data-id")

    // open modal
    $(`.modal-confirm.modal-delete-in-message-confirm[data-id=${msg_id}]`).css('visibility', 'visible')
    e = e || window.event;
    e.preventDefault();

    // fetch method
    $(`.confirm-btn[data-id=${msg_id}]`).click(function () {
      fetch(`${window.origin}/message/${msg_id}/delete_received_message`, {
        method: 'POST',
        headers: new Headers({
          "content-type": "application/json",
          "X-CSRF-TOKEN": csrf_token
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          if (data.received_msg_deleted == true) {
            $(`.balloon[data-id=${msg_id}]`).remove()
          } else {
            $(`.delete-in-msg-failure-warning[data-id=${msg_id}]`).text('服务器错误，无法删除此条评论！')
          }
        })
    })

    // cancel/close modal
    $(`.cancel-btn[data-id=${msg_id}]`).click(function () {
      $(`.modal-delete-in-message-confirm[data-id=${msg_id}]`).css('visibility', 'hidden')
    })

  }

  function deleteOutMsg(e, msg_id) {
    msg_id = msg_id.getAttribute("data-id")

    // open modal
    $(`.modal-confirm.modal-delete-out-message-confirm[data-id=${msg_id}]`).css('visibility', 'visible')
    e = e || window.event;
    e.preventDefault();

    // fetch method
    $(`.confirm-btn[data-id=${msg_id}]`).click(function () {
      fetch(`${window.origin}/message/${msg_id}/delete_sent_message`, {
        method: 'POST',
        headers: new Headers({
          "content-type": "application/json",
          "X-CSRF-TOKEN": csrf_token
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          if (data.sent_msg_deleted == true) {
            $(`.balloon[data-id=${msg_id}]`).remove()

          } else {
            $(`.delete-out-msg-failure-warning[data-id=${msg_id}]`).text('服务器错误，无法删除此条评论！')
          }
        })
    })

    // cancel/close modal
    $(`.cancel-btn[data-id=${msg_id}]`).click(function () {
      $(`.modal-delete-out-message-confirm[data-id=${msg_id}]`).css('visibility', 'hidden')
    })

  }

  function openTab(evt, category) {

    let i, x, tablinks;
    x = document.querySelectorAll(".label");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.querySelectorAll(".tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" text-color-red", "");
      tablinks[i].className = tablinks[i].className.replace(" front-tab", "");
    }
    document.getElementById(category).style.display = "block";
    evt.currentTarget.className += " text-color-red";
    evt.currentTarget.className += " front-tab";
  }

</script>

{% endblock %}