{% extends "base.html" %}

{% block content %}

<!-- Main Theme -->
<div class="post-theme-wrapper post-page">
  <h1 id="post_title">{{ post.title }}
  </h1>
  <h2>{{ post.subtitle }}</h2>

  <div class="post-author-explore post-page">
    <a class="post-author-link" href="{{ url_for('users.user_page', username=post.author.username) }}">
      <img class="post-author-explore-img"
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="">
      <h4>{{ post.author.username }}</h4>
    </a>
    <small> {{ moment(post.date_posted).format('LLL') }}</small>
  </div>
  {% if post.author == current_user %}
  <div class="edit-delete-img">
    <a href="{{ url_for('posts.update_post', post_id=post.id) }}"><img
        src="{{ url_for('static', filename='images/edit.png')}}" alt="" title="{{ _('编辑') }}"></a>
    <a class="modal-open-post" href="#"><img src="{{ url_for('static', filename='images/paper_crumpled.png')}}" alt=""
        title="{{ _('删除') }}"></a>
  </div>
  {% endif %}

</div>
<!-- / Main Theme -->

<!-- Flash Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert">
  <span class=" alert-{{ category }}">{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Flash Message -->

<!-- Notebook Paper -->
<main>
  <div class="post-contents post-page">
    <!-- Left Side -->
    <aside class="post-left post-page">
      <!-- Latest Posts -->
      <div class="aside-section">
        <img src="{{ url_for('static', filename='images/crayon_logo2.png')}}" alt="">
        {% if post.author == current_user %}
        <p class="text-color-orange side-title post-page">{{ _('我的最新投稿') }}</p>
        {% else %}
        <p class="text-color-orange side-title post-page">{{ _('笔者最新投稿') }}</p>
        {% endif %}
      </div>
      <ul class="aside-list">
        {% for post in ten_posts %}
        <li class="aside-list-item post-page">
          <a href="{{ url_for('posts.post', post_id=post.id) }}" class="text-color-orange aside-title-orange">
            <span>{{ post.title}}</span>
            <img class="sidebar-post-img" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}"
              alt="post image">
          </a>
        </li>
        {% endfor %}
      </ul>


      <!-- Past Posts -->
      <div class="aside-section">
        <img src="{{ url_for('static', filename='images/crayon_logo3.png')}}" alt="">
        {% if post.author == current_user %}
        <p class="text-color-green side-title post-page">{{ _('我的过去投稿') }}</p>
        {% else %}
        <p class="text-color-green side-title post-page">{{ _('笔者过去投稿') }}</p>
        {% endif %}
      </div>
      <ul class="aside-list">
        {% for count in monthly_posts_count %}
        <li class="aside-list-item post-page">
          <a
            href="{{ url_for('posts.monthly_posts', user_id=post.author.id, month='-'.join([count[0].split('-')[0], count[0].split('-')[1]])) }}">
            {{ count[0].split('-')[0] }}{{ _('年') }}{{ count[0].split('-')[1] }}{{ _('月') }} {{ count[1] }}{{ _('篇')}}
          </a>
        </li>
        {% endfor %}
      </ul>


      <!-- Hottest Topics -->
      <div class="aside-section">
        <img src="{{ url_for('static', filename='images/crayon_logo1.png')}}" alt="">
        {% if post.author == current_user %}
        <p class="text-color-red side-title post-page">{{ _('我的最新论点') }}</p>
        {% else %}
        <p class="text-color-red side-title post-page">{{ _('笔者最新论点') }}</p>
        {% endif %}
      </div>
      <ul class="aside-list">
        {% for tag in tags %}
        <li class="aside-list-item post-page">
          <a href="{{ url_for('posts.tag', name=tag) }}" class="text-color-red">
            <img class="tag-img" src="{{url_for('static', filename='images/tag4.png')}}" alt="">
            {{ tag }}</a>
        </li>
        {% endfor %}
      </ul>

      <!-- Ad -->
      <div class="aside-ad-img">
        <img src="{{ url_for('static', filename='images/ad1.png') }}" alt="">
        <a class="aside-ad-button" href="{{ url_for('main.contact') }}">
          <img src="{{ (url_for('static', filename='images/envelope_white.png')) }}" alt=""></a>
      </div>
      <!-- / Ad -->
      <!-- Ad -->
      <div id="adspace-ad" class="aside-ad-img">
        <img src="{{ url_for('static', filename='images/ad_space.png') }}" alt="">
        <a class="aside-adspace-button" href="{{ url_for('main.contact') }}">
          <img src="{{ (url_for('static', filename='images/envelope_white.png')) }}" alt=""></a>
      </div>
      <!-- / Ad -->


    </aside>
    <!-- Right Side -->
    <div class="post-right post-page">
      <!-- 笔记删除确认Modal -->
      <div id="modal-delete-post-confirm" class="modal-confirm">
        <img class="modal-img" src="{{ url_for('static', filename='images/alert1.png') }}" alt="alert">
        <h2>{{ _('您确定要删除这篇笔记吗？') }}</h2>
        <div class="button-area">
          <button class="cancel-btn">{{ _('取 消') }}</button>
          <form class="confirm-btn" action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="post">
            {{ form.hidden_tag() }}
            <input type="submit" value="确 定">
          </form>
        </div>
      </div>

      <!-- 笔记图像 -->
      <img class="post-main-img" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}"
        alt="post them image">

      <!-- 笔记文章 -->
      <div class="post-body">
        {{ post.content | safe }}
        {% for tag in post_tags %}
        {% if tag.name %}
        <div>
          <img class="post-tag-img" src="{{ url_for('static', filename='images/tag4.png') }}" alt="">
          <a class="tag text-color-red" href="{{ url_for('posts.tag', name=tag.name) }}" target="_blank">{{ tag.name
            }} </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <!-- Post Rating -->
      <div class="post-rating text-color-orange">
        <!-- 请先注册/登陆 Modal -->
        <div id="modal-sign-in1" class="modal-sign-in">
          <img src="{{url_for('static', filename='images/close-btn1.png')}}" id="cancel-sign-in-btn1"
            class="cancel-sign-in-btn">
          <div class="modal-sign-in-message">
            <img class="modal-sign-in-logo" src="{{ url_for('static', filename='images/BGben_logo1.png') }}" alt="">
            <span class="pls-sign-in1 text-color-darkgrey">{{ _('请先登陆后再点赞！') }}</span>
          </div>
          <a class="login-btn-modal" href="{{ url_for('users.login') }}">{{ _('登 陆') }}</a>
          <div class="login-link-modal">
            <span>{{ _('还不是用户吗？请先') }}</span>
            <a href="{{ url_for('users.register_test') }}"><strong> {{ _('注册') }}</strong></a>
            <span>！</span>
          </div>
        </div>
        <div class="rating">
          <!-- 赞 -->
          <p class="post-share">{{ _('赞') }}</p>

          <!-- 星星 -->
          {% if post_like %}
          <span class="post-share rating-btns rating-star-liked modal-open-sign-in" id="post-like-button-{{post.id}}"
            onclick="likePost({{post.id}}, '{{ csrf_token() }}')"></span>
          {% else %}
          <span class="post-share rating-btns rating-star modal-open-sign-in" id="post-like-button-{{post.id}}"
            onclick="likePost({{post.id}}, '{{ csrf_token() }}')"></span>
          {% endif %}

          <!-- 赞数字 -->
          <p class="post-share" id="post-likes-count-{{post.id}}">{{ post.post_likes_count() }}</p>

          <!-- 分享 -->
          <!-- if Web Share API available -->
          <button id="shareButton" class="post-share text-color-orange rating-share">
            {{ _('分享') }}
          </button>
          <button id="X" class="post-share post-share-X rating-btns">
            <img class="x-img" src="{{ url_for('static', filename='images/X_logo1.png')}}" alt="X分享链接" />
          </button>
        </div>

        <!-- 🫥提示 【修改评论】-->
        <div id="modal_edit" class="modal-edit">
          <input id="edit_comment_content" name="edit_comment_content" type="text" value="">
          <div class="button-area">
            <div id="cancel-edit-btn" class="cancel-btn" style="cursor: pointer;">{{ _('取消') }}</div>
            <button class="confirm-btn" type="submit" id="edit-comment-submit" name="edit-comment-submit" value="更新">{{
              _('更 新') }}</button>
          </div>
          <span id="empty-input-warning"></span>
        </div>

        <!-- 🫥提示 【删除评论确认】 -->
        <div id="modal-delete-comment-confirm" class="modal-confirm">
          <img class="modal-img" src="{{ url_for('static', filename='images/alert1.png') }}" alt="alert">
          <h2>{{ _('您确定要删除这条评论吗？') }}</h2>
          <button class="cancel-btn">{{ _('取消') }}</button>
          <input class="confirm-btn" id="confirm-delete-comment" type="submit" value="{{ _('删除') }}">
          <span id="delete-comment-failure-warning"></span>
        </div>


      </div>

      <!-- 写评论 -->
      {% if current_user.is_authenticated %}
      <form class="post-comment-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <!-- line1: label -->
        <div class="post-comment-title">
          <div class="post-comment-title-imgbox">
            <img class="comment-title-img" src="{{ url_for('static', filename='images/feather_pen3.png') }}" alt="">
          </div>
          <span class="text-color-red">{{ form.comment.label }}</span>
        </div>
        <!-- line2: error -->
        <div class="form-input">
          {% if form.comment.errors %}
          {% for error in form.comment.errors %}
          <small><span class="error-message">{{ error }}</span></small>
          {% endfor %}
          <div class="comment-input">
            {{ form.comment(class="text-input comment-input-field is-invalid") }}
            {{ form.submit_field(class="comment-submit-button") }}
          </div>
          {% else %}
          <div class="comment-input">
            {{ form.comment(class="text-input comment-input-field") }}
            {{ form.submit_field(class="comment-submit-button") }}
          </div>
          {% endif %}
        </div>
      </form>
      {% endif %}



      <div id="current_user_id" style="display:none;">{{ current_user.id }}</div>

      <!-- 收到的评论 -->
      <div class="comments-container">
        <!-- 🫥提示 【修改评论】-->
        <!-- <div id="modal_edit" class="modal-edit">
          <input id="edit_comment_content" name="edit_comment_content" type="text" value="">
          <div class="button-area">
            <div id="cancel-edit-btn" class="cancel-btn" style="cursor: pointer;">{{ _('取消') }}</div>
            <button class="confirm-btn" type="submit" id="edit-comment-submit" name="edit-comment-submit" value="更新">{{
              _('更 新') }}</button>
          </div>
          <span id="empty-input-warning"></span>
        </div> -->

        <!-- 🫥提示 【删除评论确认】 -->
        <!-- <div id="modal-delete-comment-confirm" class="modal-confirm">
          <img class="modal-img" src="{{ url_for('static', filename='images/alert1.png') }}" alt="alert">
          <h2>{{ _('您确定要删除这条评论吗？') }}</h2>
          <button class="cancel-btn">{{ _('取消') }}</button>
          <input class="confirm-btn" id="confirm-delete-comment" type="submit" value="{{ _('删除') }}">
          <span id="delete-comment-failure-warning"></span>
        </div> -->

        <!-- 请先注册/登陆 Modal -->
        <div id="modal-sign-in2" class="modal-sign-in">
          <img src="{{url_for('static', filename='images/close-btn1.png')}}" id="cancel-sign-in-btn2"
            class="cancel-sign-in-btn">
          <div class="modal-sign-in-message">
            <img class="modal-sign-in-logo" src="{{ url_for('static', filename='images/BGben_logo1.png') }}" alt="">
            <span class="text-color-darkgrey">{{ _('请先登陆后再点赞！') }}</span>
          </div>
          <a class="login-btn-modal" href="{{ url_for('users.login') }}">{{ _('登 陆') }}</a>
          <div class="login-link-modal">
            <span>{{ _('还不是用户吗？请先') }}</span>
            <a href="{{ url_for('users.register_test') }}"><strong> {{ _('注册') }}</strong></a>
            <span>！</span>
          </div>
        </div>

        <!-- 评论区 -->
        <div id="scroller">
          <template id="comment_template">
            <div class="comment">
              <div class="comment-text" id="comment_text"></div>
              <div class="commenter">
                <div class="commenter-detail">
                  <div class="commenter-imgbox" id="commenter_img"></div>
                  <div id="commenter_name" class="commenter_name"></div>
                  <div id="comment_time" class="comment_time"></div>
                </div>
                <div class="comment-rating">
                  <div class="comment-like-button" data-id="" onclick="likeComment(this, '{{ csrf_token() }}')"></div>
                  <div id="comment_likes" class="comment-like-count text-color-orange"></div>
                  <div class="comment-edit"></div>
                </div>
              </div>
            </div>
          </template>
        </div>
        <div id="sentinel" class="comment_message text-color-red">
          <div role="status"></div>
          <div id="comment_message" hidden>{{ comment_message}}</div>
        </div>
        {% if current_user.is_authenticated%}
        {% else %}
        <div class="login-link-modal text-color-red">
          <a href="{{ url_for('users.login') }}"><strong> {{ _('登陆') }}</strong></a>
          <span>{{ _('或') }}</span>
          <a href="{{ url_for('users.register_test') }}"><strong> {{ _('注册') }}</strong></a>
          <span>{{ _('后可以写评论！') }}</span>
        </div>
        {% endif %}
      </div>


    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/post.js')}}"></script>

    <script type="text/javascript">
      // 通用参数
      let csrf_token = "{{ csrf_token() }}";

      let scroller = document.querySelector('#scroller')
      let comment_template = document.querySelector('#comment_template')
      let sentinel = document.querySelector('#sentinel')
      let counter = 0
      let modal_sign_in1 = document.querySelector('#modal-sign-in1')
      let modal_sign_in2 = document.querySelector('#modal-sign-in2')
      let comment_message = document.querySelector('#comment_message').innerText

      const SCRIPT_ROOT = {{ request.script_root| tojson }}

      // 日期格式
      function formatDate(date) {
        var d = new Date(date),
          month = (d.getMonth() + 1).toString().padStart(2, "0"),
          day = d.getDate().toString().padStart(2, "0"),
          year = d.getFullYear().toString(),
          hour = d.getHours().toString().padStart(2, "0"),
          minutes = d.getMinutes().toString().padStart(2, "0"),
          seconds = d.getSeconds().toString().padStart(2, "0");

        date = [year, month, day,].join('-')
        time = [hour, minutes, seconds].join(':')

        return [date, time].join(' ');
      }

      // 上传评论
      function loadItems() {
        current_user_id = document.querySelector("#current_user_id").innerText

        console.log('current user id: ' + current_user_id)
        fetch(`${window.origin}/load_comments?c=${counter}`).then((response) => {
          response.json().then((data) => {
            if (!data.length) {
              sentinel.innerHTML = comment_message;
            }

            for (let i = 0; i < data.length; i++) {
              let template_clone = comment_template.content.cloneNode(true);
              // comment div
              comment_div = template_clone.querySelector(".comment")
              comment_div.setAttribute("data-id", data[i][0])
              // comment body
              template_clone.querySelector("#comment_text").innerHTML = data[i][1]
              // set comment.id in comment body
              comment_body = template_clone.querySelector("#comment_text")
              comment_body.setAttribute("data-id", data[i][0])
              // commenter pic
              template_clone.querySelector("#commenter_img").innerHTML = `
              <img id="commenter_img" src="/static/profile_pics/${data[i][2]}" alt="commenter's photo">
              `
              // commenter name
              template_clone.querySelector("#commenter_name").innerHTML = data[i][3]
              // comment posted date & time
              let posted_time = data[i][4];
              let local_posted_time = new Date(posted_time);
              template_clone.querySelector("#comment_time").innerHTML = formatDate(local_posted_time)
              // comment likes total number
              template_clone.querySelector("#comment_likes").innerHTML = data[i][5]
              // comment like button
              comment_like_button = template_clone.querySelector('.comment-like-button')
              // if current user already liked or not
              if (!data[i][6]) {
                comment_like_button.className = "comment-like-button before-like"
              } else {
                comment_like_button.className = "comment-like-button after-like"
              }
              // set comment id in comment like button
              comment_like_button.setAttribute("data-id", data[i][0])
              // if current_user is commenter
              if (current_user_id == data[i][7]) {
                template_clone.querySelector(".comment-edit").innerHTML = `
                <div class="edit-delete-img">
                  <span ><img data-id=${data[i][0]} style="padding: 0 !important; cursor: pointer;" src="{{ url_for('static', filename='images/edit.png')}}" alt="" title="编辑" onclick=EditComment(this)></span>
                  <span class="modal-open-comment-delete"><img data-id=${data[i][0]} style="padding: 0 !important; cursor: pointer;" src="{{ url_for('static', filename='images/paper_crumpled.png')}}" alt="" title="删除" onclick=deleteComment(this)></span>
                </div>
                `
              }

              scroller.appendChild(template_clone)
              counter += 1;
            }
          })
        })
      }

      // 监控上传情况
      let intersectionObserver = new IntersectionObserver(entries => {
        // if the intersectionRatio is 0, the sentinel is out of view 
        // and we do not need to do anything
        if (entries[0].intersectionRatio <= 0) {
          return
        }
        loadItems()
      })
      intersectionObserver.observe(sentinel)

      // Likes - Post 文章点赞
      function likePost(post_id) {
        postLikeCount = document.querySelector(`#post-likes-count-${post_id}`)
        postLikeButton = document.querySelector(`#post-like-button-${post_id}`)

        fetch(`${window.origin}/like_post/${post_id}`,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-TOKEN': csrf_token
            }
          })
          .then((res) => res.json())
          .then((data) => {
            postLikeCount.innerHTML = data.post_likes
            if (data.post_liked) {
              postLikeButton.className = "post-share rating-btns rating-star-liked modal-open-sign-in"
            } else {
              postLikeButton.className = "post-share rating-btns rating-star modal-open-sign-in"
            }
          }).catch((error) => {
            console.log('login-required')
            modal_sign_in1.style.visibility = "visible"
          })
      }

      // Likes - Comment 评论点赞
      function likeComment(this_comment) {

        comment_id = this_comment.getAttribute("data-id")

        fetch(`${window.origin}/like_comment/${comment_id}`,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-TOKEN': csrf_token
            }
          })
          .then((res) => res.json())
          .then((data) => {
            this_comment.nextElementSibling.innerText = data.comment_likes

            if (data.comment_liked) {
              this_comment.className = "comment-like-button after-like modal-open-sign-in"
            } else {
              this_comment.className = "comment-like-button before-like modal-open-sign-in"
            }
          }).catch((error) => {
            modal_sign_in2.style.visibility = "visible"
          })
      }

      // 评论编辑一条龙
      function EditComment(this_comment) {
        comment_id = this_comment.getAttribute("data-id")
        modal_edit = document.querySelector("#modal_edit")
        edit_comment_content = document.querySelector('[data-id= "' + comment_id + '"]#comment_text').innerText

        // Open Edit Comment Modal 打开评论编辑表格
        document.querySelector("#edit_comment_content").value = edit_comment_content
        modal_edit.style.visibility = 'visible'

        // If Cancel Button Pressed "取消"按钮的功能
        $("#cancel-edit-btn").click(function () {
          cancelEditComment()
        })

        // If Update Button Pressed "更新"按钮的功能
        $("#edit-comment-submit").click(function () {
          confirmEditComment(comment_id, '{{csrf_token()}}')
        })

      }

      // Cancel Edit Comment 取消评论编辑
      function cancelEditComment() {
        $('#modal_edit').css('visibility', 'hidden')
      }

      // 评论修改 确认 & 提交
      function confirmEditComment(comment_id, csrf_token) {
        // edit_comment_content = document.querySelector('[data-id= "' + comment_id + '"]#comment_text').innerText
        edit_input = document.querySelector("#edit_comment_content").value

        // Submit Error Handling 提示没有任何填写
        console.log(edit_input)
        if (!edit_input) {
          $("#empty-input-warning").text('还没有任何内容哦！')
        }
        $("#edit_comment_content").focus(function () {
          $("#empty-input-warning").text('')
        })

        // Submit Edited Comments to Backend 提交修改内容给后台
        fetch(`${window.origin}/edit_comment`, {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify({
            updated_comment: edit_input,
            comment_id: comment_id
          }),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json",
            "X-CSRF-TOKEN": csrf_token
          }),
        })
          .then((res) => res.json())
          .then((data) => {
            console.log('saved_edited_comment: ' + data.saved_edited_comment)
            document.querySelector('[data-id= "' + comment_id + '"]#comment_text').innerText = `${data.saved_edited_comment}`
          })
          .catch((error) => {
            modal_sign_in2.style.visibility = "visible"
          }
          )

        // Cleanup Input Field & Close Modal
        edit_input = ""
        cancelEditComment()
      }

      // 删除评论
      function deleteComment(comment_id) {
        comment_id = comment_id.getAttribute("data-id")

        $('#modal-delete-comment-confirm').css('visibility', 'visible')

        $('#confirm-delete-comment').click(function () {
          fetch(`${window.origin}/delete_comment/${comment_id}`, {
            method: 'POST',
            headers: new Headers({
              "content-type": "application/json",
              "X-CSRF-TOKEN": csrf_token
            }),
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.comment_deleted == true) {
                $(`.comment[data-id=${comment_id}]`).remove()
              } else {
                $('#delete-comment-failure-warning').text('服务器错误，无法删除此条评论！')
              }
            })

          $('#modal-delete-comment-confirm').css('visibility', 'hidden')
        })
      }
    </script>

</main>
<!-- / Notebook Paper -->
{% endblock content %}