{% extends 'base.html' %}

{% block content %}
<!-- Main Theme -->
<div class="main-theme-wrapper">
  <h1>BGben</h1>
  <h2>{{ _('搜索结果🔍') }}</h2>
</div>
<!-- / Main Theme -->

<!-- Flash Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert">
  <span class=" alert-{{ category }}">{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Flash Message -->

<!-- Notebook Paper -->
<main class="search-result-wrapper">
  <div class="tabs">
    <button class="tab-post search tablink  text-color-red front-tab"
      onclick="openTab(event, 'post')">{{_('笔记')}}</button>
    <button class="tab-user search tablink" onclick="openTab(event, 'user')">{{_('笔者')}}</button>
  </div>
  <div class="search-results search">
    <!-- POST SEARCH -->
    <div id="post" class="label post-search-result-wrapper">
      {% if posts %}
      {% for post in posts%}
      <div class="post-card">
        <!-- Description -->
        <div class="post-heading">
          <a class="post-link" href="{{ url_for('posts.post', post_id=post.id) }}">
            <!-- Post Heading -->
            <h2>
              {{ post.title }}
            </h2>
            <!-- Image -->
            <img class="post-img" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" alt="">
            <!-- / Image -->
            <h3>{{ post.subtitle }}</h3>
          </a>
          <div class="post-author">
            <a class="post-author-link" href="{{ url_for('users.user_page', username=post.author.username) }}">
              <img class="post-author-img"
                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="">
              <h4>{{ post.author.username }}</h4>
            </a>
            <div class="post-time">{{ moment(post.date_posted).format('LLL') }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- Pagination -->
      <div class="pagination">
        {% if post_prev_url %}
        <div class="prev-page">
          <div class="pagination-text"><a href="{{ post_prev_url }}">{{ _('前一页') }}</a></div>
          <div class="pagination-imgbox">
            <img class="search-page-pagination-img" src="{{ url_for('static', filename='images/arrow-left.png')}}"
              alt="">
          </div>
        </div>
        {% endif %}

        {% if post_next_url %}
        <div class="next-page">
          <div class="pagination-imgbox">
            <img class="search-page-pagination-img" src="{{ url_for('static', filename='images/arrow-right.png')}}"
              alt="">
          </div>
          <div class="pagination-text"><a href="{{ post_next_url }}">{{ _('下一页') }}</a></div>
        </div>
        {% endif %}
      </div>


      {% else %}
      <div class="search-no-result">{{ _('没有找到相关的内容！')}}</div>
      {% endif %}
    </div>


    <!-- USER SEARCH -->
    <div id="user" class="label" style="display: none;">
      {% if users %}
      {% for user in users %}
      <div class="search-user-profile-wrapper">
        <a href="{{ url_for('users.user_page', username=user.username) }}">
          <!-- Profile Image -->
          <div class="search-profile-img">
            <img src="{{ url_for('static', filename='profile_pics/' + user.image_file ) }}" alt="">
          </div>
        </a>
        <div class="name-and-dates search">
          <!-- User Name -->
          <div class="search-profile-data">
            <a class="search-profile-user-link" href="{{ url_for('users.user_page', username=user.username) }}">
              <div class="search-profile-name search">
                <h3>{{ user.username }}</h3>
              </div>
            </a>
            {% if current_user.is_authenticated%}
            {% if user.is_following(current_user) %}
            <div><small><span style="background-color: #c515052a;">{{ _('TA正在关注您!') }}</span></small></div>
            {% endif %}
            {% endif %}
          </div>

          <!-- Dates -->
          <div class="search-profile-dates">
            <div class="profile-start-date search text-color-darkgrey">
              <small>{{ moment(user.account_created).fromNow() }} {{ _('加入') }}</small>
            </div>
          </div>
        </div>

        <!-- Action Button -->
        <div class="search-profile-action">
          <!-- 编辑简介Button -->
          {% if current_user.is_authenticated %}
          {% if user == current_user %}
          <div class="search-profile-button">
            <a href="{{ url_for('users.account') }}" class="search-profile-edit search">{{ _('编辑简介') }}</a>
          </div>
          {% elif not current_user.is_following(user) %}
          <!-- 关注Button -->
          <form class="search-profile-button" action="{{ url_for('users.follow', username=user.username) }}"
            method="POST" class="follow-unfollow-form">
            {{ followform.hidden_tag() }}
            {{ followform.submit(class="search-profile-follow-btn search")}}
          </form>
          {% else %}
          <!-- 取消关注Button -->
          <form class="search-profile-button" action="{{ url_for('users.unfollow', username=user.username) }}"
            method="POST" class="follow-unfollow-form">
            {{ unfollowform.hidden_tag() }}
            {{ unfollowform.submit(class="search-profile-unfollow-btn search")}}
          </form>
          {% endif %}
          {% elif not current_user.is_authenticated %}
          <!-- 登陆关注吧Button -->
          <div class="search-profile-button">
            <a href="{{ url_for('users.login') }}" class="search-profile-follow-btn search">{{ _('注册·登陆后<br>可关注这位用户！')
              }}</a>
          </div>
          {% endif %}
        </div>

        {% endfor %}

        <!-- Pagination -->
        <div class="pagination">
          {% if user_prev_url %}
          <div class="prev-page">
            <div class="pagination-text"><a href="{{ user_prev_url }}">{{ _('前一页') }}</a></div>
            <div class="pagination-imgbox">
              <img class="search-page-pagination-img" src="{{ url_for('static', filename='images/arrow-left.png')}}"
                alt="">
            </div>
          </div>
          {% endif %}

          {% if user_next_url %}
          <div class="next-page">
            <div class="pagination-imgbox">
              <img class="search-page-pagination-img" src="{{ url_for('static', filename='images/arrow-right.png')}}"
                alt="">
            </div>
            <div class="pagination-text"><a href="{{ user_next_url }}">{{ _('下一页') }}</a></div>
          </div>
          {% endif %}
        </div>

        {% else %}
        <div class="search-no-result">{{ _('没有找到相关的用户！')}}</div>
        {% endif %}
      </div>

    </div>


    <script>
      function openTab(evt, category) {
        let i, x, tablinks;
        x = document.querySelectorAll(".label");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.querySelectorAll(".tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" text-color-red", "");
          tablinks[i].className = tablinks[i].className.replace(" front-tab", "");
        }
        document.getElementById(category).style.display = "block";
        evt.currentTarget.className += " text-color-red";
        evt.currentTarget.className += " front-tab";
      }
    </script>

</main>
{% endblock %}