{% extends 'base.html' %}
{% block content %}
<!-- Main Theme -->
<div class="sub-main-theme-wrapper policy">
  <h1>{{ _('BGben博客功能使用条款') }}</h1>
  <h2>{{ _('笔记员必须遵守的规定') }}</h2>
</div>
<!-- / Main Theme -->
<!-- Notebook Paper -->
<main>
  <div class="policy-wrapper user-policy text-color-darkgrey">
    <!-- Policy Contents -->
    <div class="policy-contents">
      <p>
        {{ _('本使用条款（以下简称“本条款”）内容涉及到BGben.net（以下简称“本网站”）以及相关网站所提供的服务') }}
        {{ _('（以下简称“本服务”）利用约定。所有注册用户（以下简称“用户”）必须按照本条款使用本服务。') }}
      </p>
      <!-- Condition 1 -->
      <p>
        {{ _('第一条 适用范围') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('本条款适用于用户与网站之间有关使用本服务的所有关系。') }}</td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('除本条款外，本网站还可以制定使用规则等有关本服务的各种规定（以下简称“个别规定”）。这些单独的规定应构成这些条款的一部分，无论其名称如何。') }}</td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('本条款的规定与前条单项规定相冲突的，以单项规定为准，单项条款另有规定的除外。') }}</td>
        </tr>
      </table>
      <!-- Condition 2 -->
      <p>
        {{ _('第二条 用户注册') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('对于本服务的申请人必须同意本条款全部内容，并按照本网站指定的方法申请注册，本网站将随后通知申请人是否注册成功，并完成注册手续。') }}</td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('如果本网站认定申请人具有下列情况任何一项，本网站可以不批准用户注册申请，并且没有义务披露任何理由。') }}
            <ol type="a" style="margin:0">
              <li>{{ _('如果申请人注册时举报虚假信息') }}</li>
              <li>{{ _('如果申请人已违反本条款') }}</li>
              <li>{{ _('其他本网站认定为不适当本网站主旨的注册内容') }}</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('本网站仅允许18岁或以上的用户进行注册。若用户是未满18岁的，应获得父母亲其中一人或法定监护人的同意才可使用本网站。') }}</td>
        </tr>
      </table>
      <!-- Condition 3 -->
      <p>
        {{ _('第三条 用户名及用户密码管理')}}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('用户应自行负责妥善管理其使用本服务的用户名及用户密码。') }}</td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('在任何情况下，用户不得将其用户名及用户密码转让、出借给第三方，或者与第三方共享。当用户使用与注册信息相符的用户名和用户密码组合登录时，网站认为该用户名正在被注册用户所使用。') }}
          </td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('对于因第三方使用用户名和用户密码而造成的任何损害，本网站不承担任何责任。') }}
          </td>
        </tr>
      </table>
      <!-- Condition 4 -->
      <p>
        {{ _('第四条 使用费及支付方式') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('如适用，作为本服务付费部分的对价，用户应按照本网站指定的方式支付由本网站另行确定并在本网站上显示的使用费用。') }}</td>
        </tr>
      </table>
      <!-- Condition 5 -->
      <p>
        {{ _('第五条 禁止行为事项') }}
      </p>
      <p class="text-thin">
        {{ _('用户在使用本服务时不得有下列行为：') }}
      </p>
      <ol class="text-thin" type="a" style="margin:0">
        <li>{{ _('违反法律或公共秩序和道德的行为') }}</li>
        <li>{{ _('与犯罪行为有关的行为') }}</li>
        <li>{{ _('破坏或干扰本网站、本服务的其他用户或第三方的服务器或网络功能的行为') }}</li>
        <li>{{ _('可能干扰我们服务运行的行为') }}</li>
        <li>{{ _('收集或积累其他用户的个人信息等的行为') }}</li>
        <li>{{ _('进行或尝试未经授权的访问的行为') }}</li>
        <li>{{ _('冒充其他用户') }}</li>
        <li>{{ _('通过我们的服务直接或间接为反社会势力提供利益的行为') }}</li>
        <li>{{ _('侵犯本网站、本服务其他用户或第三方的知识产权、肖像权、隐私权、荣誉及其他权利或利益的行为') }}</li>
        <li>{{ _('在本服务上发布或传输包含或由本网站确定包含以下表述内容的行为：') }}
          <ul>
            <li>{{ _('过度的暴力的表达') }}</li>
            <li>{{ _('露骨的性表达') }}</li>
            <li>{{ _('导致基于包括但不限于种族、国籍、信仰、性别、社会地位、家庭出身等歧视的言论') }}</li>
            <li>{{ _('诱导或鼓励自杀、自残或药物滥用的言论') }}</li>
            <li>{{ _('其他包含反社会内容并导致他人不适的表达方式') }}</li>
          </ul>
        </li>
        <li>{{ _('被本网站认定为旨在以下内容的行为：') }}
          <ul>
            <li>{{ _('销售、广告、广告、招揽及其他以营利为目的的行为（经本网站批准的除外）')}} </li>
            <li>{{ _('以性行为或淫秽行为为目的的行为') }}</li>
            <li>{{ _('旨在与陌生人会面或社交的行为') }}</li>
            <li>{{ _('旨在骚扰或诽谤其他用户的行为') }}</li>
            <li>{{ _('旨在给本网站、本服务的其他用户或第三方造成不利、损害或不适的行为') }}</li>
            <li>{{ _('其他与本服务使用目的具有抵触性质的的行为') }}</li>
          </ul>
        </li>
        <li>{{ _('宗教宣教活动、为宗教团体招揽信者') }}</li>
        <li>{{ _('其他本网站认为不适当的行为') }}</li>
      </ol>
      <!-- Condition 6 -->
      <p>
        {{ _('第六条 本服务的暂停或终止') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('若本网站认定存在下列任一原因，本网站可在不事先通知用户的情况下，暂停或中止提供全部或部分服务：') }}
            <ol type="a" style="margin:0">
              <li>{{ _('进行与本服务相关的计算机系统的维护、检查或更新时') }}</li>
              <li>{{ _('因地震、雷击、火灾、停电、自然灾害等不可抗力而导致本服务难以提供时') }}</li>
              <li>{{ _('如果计算机或通讯线路等因事故而停止运行') }}</li>
              <li>{{ _('其他本网站认为难以提供此项服务的情况') }}</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('对于因暂停或中断提供本服务而给用户或第三方造成的任何不利或损害，本网站不承担任何责任。') }}</td>
        </tr>
      </table>
      <!-- Condition 7 -->
      <p>
        {{ _('第七条 版权') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{
            _('用户在笔记中可能会引用的新闻稿、社交平台评论、出版物、图片、视频等各类媒体的内容应遵守现行的各国法规，同时秉持自律原则，在使用过程中达到合理使用的标准。合理使用标准的依据样本为美国对于著作的合理使用（免责条款）原则之定义。')
            }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            {{ _('美国版权法第107条规定:')}}
            <i><strong>
                {{
                _('“...为了批评、评论、新闻报道、教学(包括用于课堂的多件复制品)、学术或研究之目的而使用版权作品的，包括制作复制品、录音制品或以该条规定的其他方法使用作品，系“合理使用”，不视为侵犯版权的行为”。')
                }}
              </strong></i>
          </td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('除前款规定之外，用户只能利用本服务发布该用户拥有必要的版权等知识产权或已获得必要权利人的许可的文字、图像、视频等信息。') }}</td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('关于本网站用户发布的文章内容，除非得到相关版权所有人的同意，不应被用于任何与商业、盈利行为有关的活动中。') }}</td>
        </tr>
        <tr>
          <td>（4）</td>
          <td>{{ _('用户使用本服务发布或上传的文字、图片、视频等的版权归用户及其他现有权利人所有。') }}
            {{ _('但是，本网站可在必要的范围内使用通过本服务发布或上传的文字、图像、视频等，用于改善本服务、提高服务质量、纠正缺陷等以及宣传本服务。') }}
          </td>
        </tr>
        <tr>
          <td>（5）</td>
          <td>{{ _('除前款规定之外，本服务及与本服务相关的所有信息的所有版权和其他知识产权均属于本网站或授权本网站使用的权利人所有。') }}
            {{ _('用户未经书面许可不得复制、转让、出借、翻译、修改、转载、公开传播、传输、分发、出版或用于商业目的。') }}</td>
        </tr>
      </table>
      <!-- Condition 8 -->
      <p>
        {{ _('第八条 服务使用限制或帐户注销') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('若用户有下列情形之一，本网站将在不事先通知的情况下删除其发布的数据、限制用户使用全部或部分本服务、或取消用户的注册') }}
            <ol type="a" style="margin:0">
              <li>{{ _('如果用户违反本条款的任何规定') }}</li>
              <li>{{ _('如发现注册信息存在虚假事实') }}</li>
              <li>{{ _('如果用户提交的付款方式失效或被拒绝使用') }}</li>
              <li>{{ _('如果存在拖欠付款义务（例如费用等）的情况') }}</li>
              <li>{{ _('如果在一定时间内没有回复来自本网站的联系') }}</li>
              <li>{{ _('如果自上一次使用后一段期间内未使用本服务') }}</li>
              <li>{{ _('此外，如果本网站判定用户对本服务的使用存在不当行为') }}</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('如有前款任何一项情形，用户必须立即一次性偿还当时所欠的全部债务。') }}</td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('对于因本网站根据本条采取的行动给用户造成的任何损害，本网站不承担任何责任。') }}</td>
        </tr>
      </table>
      <!-- Condition 9 -->
      <p>
        {{ _('第九条 注销') }}
      </p>
      <p class="text-thin">{{ _('用户可以按照本网站规定的退出程序退出本服务。') }}</p>
      <!-- Condition 10 -->
      <p>
        {{ _('第十条 保证和免责声明') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('本网站不对本服务中的任何事实或法律缺陷（与安全性、可靠性、准确性、完整性、有效性、特定用途的适用性、安全性等有关的缺陷、错误、缺陷、侵犯权利等）的不存在做出明确或暗示保证。') }}</td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('对于因本服务给用户造成的任何损害，本网站不承担任何责任，除非该损害是因本网站故意或重大过失造成的。') }}</td>
        </tr>
        <tr>
          <td>（3）</td>
          <td>{{ _('本网站对用户与其他用户或第三方之间就本服务发生的任何交易、通讯或争议不承担任何责任。') }}</td>
        </tr>
      </table>
      <!-- Condition 11 -->
      <p>
        {{ _('第十一条 服务内容的变更等') }}
      </p>
      <p class="text-thin">{{ _('本网站可在事先通知用户的情况下变更、追加或废止本服务的内容，用户应同意。') }}</p>
      <!-- Condition 12 -->
      <p>
        {{ _('第十二条 使用条款的变更') }}
      </p>
      <table class="text-thin">
        <tr>
          <td>（1）</td>
          <td>{{ _('在下列情况下，本网站可以更改本条款而无需征得用户个人同意。') }}
            <ol type="a" style="margin:0">
              <li>{{ _('当这些条款的更改符合用户的普遍利益时') }}</li>
              <li>{{ _('当这些条款的变更不与本条款的目的相矛盾，并且考虑到变更的必要性、变更内容的适当性以及与变更相关的其他情况而合理时') }}</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>（2）</td>
          <td>{{ _('本网站将根据前款规定对本条款的变更以及修改后的条款的内容和生效日期提前通知用户。') }}</td>
        </tr>
      </table>
      <!-- Condition 13 -->
      <p>
        {{ _('第十三条 个人信息的处理') }}
      </p>
      <p class="text-thin">{{ _('本网站将根据本网站的“隐私政策”妥善处理通过使用本服务获得的个人信息。') }}</p>
      <!-- Condition 14 -->
      <p>
        {{ _('第十四条 通知与通讯')}}
      </p>
      <p class="text-thin">{{ _('用户与本网站之间的通知或通信应按照本网站规定的方式进行。除非用户按照本网站另行确定的方法向本网站通知变更，
        否则本网站将假定当前注册的联系方式有效，并将通知或联系该联系方式时，视为用户已收到联系信息内容。') }}</p>
      <!-- Condition 15 -->
      <p>
        {{ _('第十五条 禁止转让权利和义务') }}
      </p>
      <p class="text-thin">{{ _('未经本网站事先书面同意，用户不得将其在使用条款下的状态或基于本条款的权利或义务转让给第三方或将其作为抵押品。') }}</p>
      <!-- Condition 16 -->
      <p>
        {{ _(' 第十六条 法律选择') }}
      </p>
      <p class="text-thin">{{ _('本网站旨在推广基于宇宙原则的自然回归意识觉醒。因此，本条款所有内容的适用法律为自然法。任何在执行本条款中产生的纠纷将首先以本着解决问题的原则，
        通过协商解决。如果您不同意包括本条款的本条款中的任何内容，请不要使用本服务。') }}</p>

      <a class="contact-button policy" href="{{ url_for('main.contact') }}">
        <span class="button-name">{{ _('询问表格')}}</span><br>
        <span class="button-subtext">{{ _('或请邮件联系') }} admin@bgben.net</span>
      </a>

    </div>
    <!-- / Policy Contents -->
  </div>
</main>
<!-- / Notebook Paper -->
{% endblock %}