<!doctype html>
<html>

<body style="background-color: #ffffb0">
  <p>{{ user.username }} 您好!</p>
  <p>Hello, {{ user.username }}</p>
  <p>{{ user.username }} さん、こんにちは!</p>
  <br>
  <p>请查找附件中您所请求的笔记存档。</p>
  <p>Please find attached the archive of your posts that you requested. </p>
  <p>リクエストされた投稿文のアーカイブを添付ファイルにてご査収ください。</p>
  <br>
  <br>
  <p>祝您每天愉快🎈 / Have a nice day🎈 / 良い一日をお過ごしください🎈</p>
  <p>BGben管理人 / BGben Administrator / BGben管理人</p>
  <img src="cid:BgbenLogo" style="width: 190px; height: 64px" />
  <br>
  <a class="mail-link" href="https://www.bgben.net">bgben.net</a>
  <br>
  <p><small>此邮件由系统自动发出，请勿直接回复。 </small></p>
  <p><small>This is an automated message, please do not reply. </small></p>
  <p><small>このメールはシステムより自動配信されていますのでご返信には回答できません。 </small></p>
</body>

</html>