<!doctype html>
<html>

<body style="background-color: #ffffb0">
  <p>{{ _('您好，%(username)s！', username=user.username) }}</p>
  <br>
  <p>{{ _('您正在申请重置密码，请在30分钟之内通过点击下面链接进行密码重置：') }}</p>
  <a href="{{ link }}">{{ link }}</a>
  <br>
  <p><u>{{ _('温馨提示: 如果密码重置不是由您本人申请的话，请忽略此邮件即可。') }}</u></p>
  <br>
  <p>{{ _('祝您每天愉快🎈') }}</p>
  <p>{{ _('BGben管理人') }}</p>
  <img src="cid:BgbenLogo" style="width: 190px; height: 64px" />
  <br>
  <a class="mail-link" href="https://bgben.net">bgben.net</a>
  <br>
  <p><small>{{ _('此邮件由系统自动发出,请勿直接回复') }}</small></p>
</body>

</html>